
#texto {
    display: flex;
    background-color: white;
    flex-direction: column;
    align-items: center;
    margin: auto;
    width: 700px;
    height: 1000px;
    padding: 10px;
    border: 1px solid black ;

}

.attribution {
    display: flex;
    align-items: flex-end;
}

#names {
    margin: auto;
    box-sizing: auto;
    display: flex;
    align-items: center;
    width: 600px;
    height: 100px;
}

.nametxt {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 100%;
    height: 100%;
}

.nameinput {
    border: 1px solid black;
    border-radius: 10px;
    height: 30px;
    width: 70%;
}

.required::after {
    content: " *";
    color: red;
}

#emailinput {
    border: 1px solid black;
    border-radius: 10px;
    height: 100%;
    width: 210px;
}

#email {
    
    height: 70px;
}